.canvas{
    position: absolute;
    text-align: center;
    border:1px solid black;
    height: 75%;
    width: 60%;
    margin: 1%;
    top:8%;
    left: 17%;
}
.event-inspec{
    position: absolute;
    text-align: center;
    border:1px solid black;
    height: 10.5%;
    width: 60%;
    margin: 1%;
    left: 17%;
    top:86%;
}