<mat-sidenav-container class="objpallet">
      <mat-sidenav>Object pallet</mat-sidenav>
      <h3>Object pallet</h3>
      <mat-nav-list>
        <button color="primary" mat-raised-button (click)="drawRectangle()" id="rectBtn">Rectangle</button>
        <br>
        <button color="primary" mat-raised-button (click)="drawTriangle()" id="triBtn">Triangle</button>
        <br>
        <button color="primary" mat-raised-button (click)="drawCircle()" id="circleBtn">Circle</button>
      </mat-nav-list>
  </mat-sidenav-container>


 
    